</main>
<div style="height: 3rem;"></div>
<footer class="bg-dark p-3 col-12" style="position: fixed; bottom: 0; left: 0;">
    <section class="container">
        <a href="https://github.com/EldrupJarne/JSON-Host" class="text-white text-decoration-none">&copy; Alpine pulse API</a>
    </section>
</footer>
</body>

</html>