</main>
<footer class="bg-dark p-3 col-12">
    <section class="container">
        <a href="https://github.com/EldrupJarne/JSON-Host" class="text-white text-decoration-none">&copy; Alpine pulse API</a>
    </section>
</footer>
</body>

</html>