<%- include("partials/header") %>
    <section>
        <h1 class="display-1">ERROR - 404</h1>
        <h2 class="display-3">
            <%= error %>
        </h2>
    </section>
    <%- include("partials/footer") %>