<%- include("partials/header") %>
    <section class="fs-3">
        <h1 class="display-2 fw-bold mb-3">Wecome to Alpine Pulse Product Data Oveview</h1>
        <p>Welcome to Alpine Pulse - Overview, your go-to destination for accessing comprehensive data on mountain bike products.</p>
        <p>Our API provides seamless access to a vast array of mountain bike products, including bikes, components, apparel, and accessories, sourced from our imaginary webshop.</p>
    </section>
    <%- include("partials/footer") %>